body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  background: url("../images/Timezones.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff2cc80;
}
.h1 {
  font-size: 5em;
}
.card {
  background-color: #ffd96680;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  padding: 15px;
  max-width: 70vh;
  margin-bottom: 40px;
  border-radius: 15%;
  border: 2px solid #ffd966;
}
.note {
  font-size: 0.8em !important;
}